/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/log/
/notes_backend/log/
notes_backend/log/
notes_backend/src/main/resources/public/
notes_backend/src/main/resources/templates/
notes_backend/src/test/java/by/demianbel/notes/converter/
notes_backend/target/
notes_frontend/target/
/notes_frontend/node/
